@model IEnumerable<WhizMA.Models.AlertItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AlertTitel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InfoText1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InfoText2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfExpiry)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AlertTitel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InfoText1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InfoText2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfExpiry)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AlertId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AlertId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AlertId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
