@model WhizMA.Models.AccountCatalogus

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AccountCatalogus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerloopTijd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerloopTijd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voortgang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voortgang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cursus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cursus.CursusID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CatalogusItemID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
