@model IEnumerable<WhizMA.Models.AccountCatalogus>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VerloopTijd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voortgang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cursus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VerloopTijd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voortgang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cursus.Afbeelding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CatalogusItemID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CatalogusItemID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CatalogusItemID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
