@model WhizMA.ViewModels.CursusDetailViewModel

@{
    ViewData["Title"] = Model.Cursus.Naam;
}


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="~/css/cursusPagina.css" rel="stylesheet" type="text/css" />

<div class="sectionHeader" style=
     "  background: linear-gradient( rgba(93, 188, 210, 0.8), rgba(93, 188, 210, 0.8) ), url( @Model.Cursus.Afbeelding );
"><!--Style is hier inline gedefinieerd om toe te laten dat de achtergrond image op een invoudige manier er in gezet word-->
    <div class="container align-content-center text-center">
        <h1 >@Model.Cursus.Naam</h1>
        <p>@Model.Cursus.CursusBeschrijving.InhoudBeschrijving</p>
        <h2>Voor wie is deze opleiding?</h2>
        <p>DBNogNietKlaar</p>
        <h2 >Certificieëring</h2>
        <p>@Model.Cursus.CursusBeschrijving.CertificaatBeschrijving</p>
        <h2 >Betalingsmogelijkheden</h2>
        <p>De prijs hieronder is exclusief BTW en exclusief kosten van Paypal. 
        Om de paypalkosten te vermijden kunt u een mailtje schrijven naar info@whiz-ma.eu ,
        dan zoeken we een alternatieve manier van betalen en zet ik u handmatig in de cursus. 
        Hiervoor moet u wel even een inlog aanmaken, dan kan ik u vinden in het systeem. 
        De prijs hieronder is exclusief BTW en exclusief kosten van Paypal. Om de paypalkosten te vermijden kunt u een mailtje schrijven naar info@whiz-ma.eu 
        , dan zoeken we een alternatieve manier van betalen en zet ik u handmatig in de cursus. Hiervoor moet u wel even een inlog aanmaken, 
        dan kan ik u vinden in het systeem. </p>
        <div class="text-center">
            <button type="button" class="btn btn-danger">
                Start
                @if (Model.Cursus.StandaardPrijs == Model.Cursus.HuidigePrijs)
                {
                    <span class="mainPrice">@Model.Cursus.HuidigePrijs.ToString("N0")</span>
                }
                else
                {
                    <span class="text-muted secondaryPrice">
                        <s> €@Model.Cursus.StandaardPrijs.ToString("N0")</s>
                    </span>
                    <span class="mainPrice">   €@Model.Cursus.HuidigePrijs.ToString("N0")</span>
                }
            </button>
        </div>
    </div>
</div>
<div class="sectionBetween">
    <div class="container"></div>
</div>
<div class="sectionLessons">
    <div class="container">
        <div id="accordiond">

            @foreach (var item in Model.Cursus.CursusInhoud.OrderBy(x => x.Positie))
            {
            <div class="card">
                <a class="" data-toggle="collapse" data-target="#@Model.FormatId(item, "collapse")" aria-expanded="true" aria-controls="@Model.FormatId(item, "collapse")">
                    <div class="card-header" id="@Model.FormatId(item, "heading")">
                       <div class="row">
                           <div class="col-1">
                               <h2 class="mb-0">

                                   @item.Positie

                               </h2>
                           </div>
                           <div class="col-9">
                               <h5 class="mb-0">

                                   @item.Les.Naam

                               </h5>
                           </div>
                           <div class="col-2">
                               <h5 class="mb-0">

                                   @item.Les.LesStappen.Count Stappen

                               </h5>
                           </div>
                       </div>
                    </div>
                </a>

                <div id="@Model.FormatId(item, "collapse")" class="collapse" aria-labelledby="@Model.FormatId(item, "heading")" data-parent="#accordiond">
                    <div class="card-body">
                        @foreach (var stap in item.Les.LesStappen)
                        {
                        <p>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="@stap.StapIcon.StapIconClass" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="@stap.StapIcon.StapIconPath"></path>
                            </svg>
                            @stap.LesStapNaam @stap.StapTimeStamp.TotalMinutes:@stap.StapTimeStamp.ToString("ss")
                        </p>
                        }


                    </div>
                </div>
            </div>

                }
            </div>
    </div>
</div>
<div class="sectionInfoNodes">
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            @foreach (var item in Model.Cursus.CursusBeschrijving.InfoNodes)
            {
                <div class="card border-0 col-2 m-3 bg-transparent">
                    <img class="card-img-top rounded-circle" src="@item.Afbeelding" width="150" height="150" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.Titel</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@item.Subtitel</h6>
                        <p class="card-text">@item.Beschrijving</p>
                    </div>
                </div>
            }
            <div class="col-2"></div>
        </div>
    </div>
</div>
<div class="sectionDocent">
    <div class="container">
       <div class="row">
           <div class="col-10">
               <h2>@Model.Cursus.Docent.DocentNaam</h2>
               <h4>@Model.Cursus.Docent.DocentTitel</h4>
           </div>
           <div class="col-2">
               <img class="rounded-circle offset-1 border-primary" style="margin-top: -40px; margin-bottom: -80px;"  src="@Model.Cursus.Docent.DocentAfbeeldingURL" width="250" height="250" alt="Docent">
           </div>
       </div>
    </div>
</div>
<div class="sectionDocentBio">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <p>
                    @Html.Raw(Model.Cursus.Docent.DocentBio)
                </p>
            </div>
        </div>
    </div>
</div>