@model WhizMA.ViewModels.BundelDetailsViewModel

@{
    ViewData["Title"] = Model.Bundel.Naam;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="~/css/bundelPagina.css" rel="stylesheet" type="text/css" />


<div class="sectionHeader">
    <div class="container align-content-center text-center">
        <h1>
            @Model.Bundel.Naam
        </h1>
        <p>
            @Model.Bundel.BundelBeschrijving.BundelInhoudsBeschrijving
        </p>
    </div>
</div>
@{int i = 0;
    string styleEven = "rgba(93, 188, 210, 0.8), rgba(93, 188, 210, 0.8)";
    string styleUneven = "rgba(93, 150, 230, 0.8), rgba(93, 150, 230, 0.8)";}
@foreach (BundelInhoud item in Model.Bundel.BundelInhoud)
{
<div class="sectionCursus" style="background: linear-gradient(@(i % 2 == 0 ? styleEven : styleUneven)), url(@item.Cursus.Afbeelding );">
    <div class="container">
        <h2>@item.Cursus.Naam</h2>
        <p>
            @item.Cursus.CursusBeschrijving.InhoudBeschrijving
        </p>
    </div>
</div>
    i++;
}
<div class="sectionPrice">
    <div class="container">
        <div class="text-center">
            @if (Model.IsLogged)
            {
                <text>
                    @if (Model.IsOwned)
                    {
                        <a class="btn btn-primary" asp-controller="AccountCatalogus" asp-action="UserCatalogue">
                            Naar Lessen
                        </a>
                    }
                    else
                    {
                        <text>
                        <form asp-action="Buy">
                            <input type="hidden" asp-for="Bundel.BundelID" value="@Model.Bundel.BundelID" />
                            <input type="hidden" asp-for="IsLogged" value="@Model.IsLogged" />
                            <input type="hidden" asp-for="IsOwned" value="@Model.IsOwned" />
                            <input type="hidden" asp-for="CurrentUser.Id" value="@Model.CurrentUser.Id" />

                            <button type="submit" id="button" class="btn btn-danger">
                                Start

                                @if (Model.Bundel.StandaardPrijs == Model.Bundel.HuidigePrijs)
                                {
                                    <span class="mainPrice"> €@Model.Bundel.HuidigePrijs.ToString("N0")</span>
                                }
                                else
                                {
                                    <span class="text-muted secondaryPrice">
                                        <s> €@Model.Bundel.StandaardPrijs.ToString("N0")</s>
                                    </span>
                                    <span class="mainPrice">   €@Model.Bundel.HuidigePrijs.ToString("N0")</span>
                                }
                            </button>
                        </form>
                </text>
            }
                    </text>
                }
                else
                {
                    <a class="btn btn-danger" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path">
                        Log in om te kopen
                    </a>
                }

        </div>
    </div>
</div>



