@model WhizMA.ViewModels.CatalogusBundelViewModel

@{
    ViewData["Title"] = "Catalogus";
}


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="~/css/cursusIndex.css" rel="stylesheet" type="text/css" />

<div class="sectionHeader">
    <div class="container">
        <div>
            <h1 class=" text-center">Bundel Overzicht</h1>
        </div>
        <div>
            <hr class="w-25 text-center" />
        </div>
        <div>
            <h3 class=" text-center">Op zoek naar een stevig lespakket?</h3>
        </div>
    </div>
</div>
<div class="sectionSearchbar">
    <div class="container">
        <form asp-controller="BundelWinkel" asp-action="Search" method="get">
            <div class="btn-toolbar justify-content-center" role="toolbar">
                <div class="btn-group mr-2 btn-group-toggle" data-toggle="buttons" role="group">
                    <label class="btn active btn-info">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked> Alle Cursussen
                    </label>
                    <label class="btn btn-info">
                        <input type="radio" name="options" id="option2" autocomplete="off"> Nieuw
                    </label>
                    <label class="btn btn-info">
                        <input type="radio" name="options" id="option3" autocomplete="off"> Populair
                    </label>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Wat wil je leren?" asp-for="BundelSearch" />
                </div>
                <div class="col-auto">
                    <input type="submit" value="Zoeken" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>
<div class="sectionCatalogue">
    <div class="container">
        <div class="row d-flex">
            @foreach (var item in Model.Bundels)
            {
                <div class="col-sm-6 col-lg-4  my-3">
                    <a class="btn" asp-action="Cursus" asp-route-id="@item.BundelID">
                        <div class="card border-dark customCard">
                            <img class="card-img-top" src="@item.Afbeelding" alt="@item.Naam">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Naam)</h5>
                                <p class="card-text">@Html.DisplayFor(modelItem => item.BundelBeschrijving.BundelInhoudsBeschrijving)</p>

                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <p>
                                        Kosten <br />
                                        @if (item.StandaardPrijs == item.HuidigePrijs)
                                        {
                                            <span class="mainPrice">@Model.BundelPrijs(item.HuidigePrijs)</span>
                                        }
                                        else
                                        {
                                            <span class="text-muted secondaryPrice">
                                                <s> @Model.BundelPrijs(item.StandaardPrijs)</s>
                                            </span>
                                            <span class="mainPrice">    @Model.BundelPrijs(item.HuidigePrijs)</span>
                                        }
                                    </p>
                                </li>
                            </ul>
                        </div>

                    </a>
                </div>
            }
        </div>
    </div>
</div>
