@model WhizMA.Models.Docent

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Docent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocentNaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocentNaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocentTitel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocentTitel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocentAfbeeldingURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocentAfbeeldingURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocentFB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocentFB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocentIG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocentIG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocentPin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocentPin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocentBio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocentBio)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DocentID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
