@model WhizMA.Models.Docent

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Docent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocentNaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocentNaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocentTitel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocentTitel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocentAfbeeldingURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocentAfbeeldingURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocentFB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocentFB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocentIG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocentIG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocentPin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocentPin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocentBio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocentBio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DocentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
