@model IEnumerable<WhizMA.Models.Docent>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocentNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocentTitel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocentAfbeeldingURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocentFB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocentIG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocentPin)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocentNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocentTitel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocentAfbeeldingURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocentFB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocentIG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocentPin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DocentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DocentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DocentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
