@model WhizMA.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="~/css/home.css" rel="stylesheet" type="text/css" />
<div class="section1">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center">
                <h2>Leren vanuit je kot!</h2>
                <br />
                @if (User.Identity.IsAuthenticated)
                {
                    <a type="button" class="btn btn-login" asp-area="Identity" asp-page="/AccountCatalogus/UserCatalogue" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path">Aan de slag</a>
                }
                else
                {
                    <a type="button" class="btn btn-login" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path">Schrijf je nu in!</a>
                }

            </div>
            <div class="col-sm-6">

            </div>
        </div>
    </div>
</div>
<div class="section2">
    <div class="container text-center">
        <h1>
            Online studies op gebied van make-up en grime<br />
            Whiz Makeup Academy
        </h1>
    </div>
</div>
@if (Model.MostRecentAlert != null)
{
    <div class="section3">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-right">
                    @Model.MostRecentAlert.DateOfCreation.ToLongDateString()
                </div>
                <div class="col-sm-6 text-left">
                    <h3>@Model.MostRecentAlert.AlertTitel</h3>
                    <p>
                        @Model.MostRecentAlert.InfoText1
                    </p>
                    <p>
                        @Model.MostRecentAlert.InfoText2
                    </p>
                </div>
            </div>
        </div>
    </div>
}

<div class="section1">
    <div class="container">
        <div class="row justify-content-center">
            <h1>
                Ontdek onze cursussen
            </h1>
        </div>
        <div class="row">
            <div class="card-deck">
                <div class="card border-dark">
                    <img class="card-img-top" src="@Model.Cursussen[0].Afbeelding" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@Model.Cursussen[0].Naam</h5>
                        <p class="card-text">@Model.Cursussen[0].CursusBeschrijving.InhoudBeschrijving</p>

                    </div>
                </div>
                <div class="card border-dark">
                    <img class="card-img-top" src="@Model.Cursussen[1].Afbeelding" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@Model.Cursussen[1].Naam</h5>
                        <p class="card-text">@Model.Cursussen[1].CursusBeschrijving.InhoudBeschrijving</p>

                    </div>
                </div>
                <div class="card border-dark">
                    <img class="card-img-top" src="@Model.Cursussen[2].Afbeelding" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@Model.Cursussen[2].Naam</h5>
                        <p class="card-text">@Model.Cursussen[2].CursusBeschrijving.InhoudBeschrijving</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section4">
    <div class="container align-content-center align-top text-center">
        <a class="btn btn-login" asp-area="" asp-controller="CursusWinkel" asp-action="Catalogus">Ontdek al onze cursussen!</a>
    </div>
</div>
<div class="section5">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="text-center">Voor wie zijn deze cursussen bedoeld?</h1>
            <p class="text-center">
                We hebben geen indeling gemaakt voor beginners of gevorderden, iedereen kan uit de cursussen halen wat ze nodig hebben.
                Sommige lessen zitten in iedere cursus.
                Bekijk ook onze proeflessen via de navigatiebalk.
            </p>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-9">
                        <h3>De absolute beginner</h3>
                        <p>Heb jij nog nooit iets gedaan met makeup of grime? Dan zul je merken dat de cursus stap voor stap opbouwt, zodat je iedere les vorderingen maakt.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-9">
                        <h3>Je werkt al in het werkveld</h3>
                        <p>
                            Maar je hebt moeite om van de gebaande wegen af te wijken,
                            uit je hoofd te werken of ontwerpen te maken? Dan leer je in deze cursus precies hoe je dat kunt doen.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-9">
                        <h3>Je bent makeup artiest</h3>
                        <p>
                            En je wilt je vaardigheden uitbreiden.
                            Verander MUA in MUAH met onze cursus haarstyling of help achter de coulissen van een musical of modeshow met de cursus toneelgrime.
                            Kindergrime erbij is een andere mogelijkheid en wat dacht je van bodypainten of special FX makeup.
                            Breid je kennis en vaardigheden uit en bouw op de kennis die je al hebt.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-9">
                        <h3>
                            Zomaar voor de lol
                        </h3>
                        <p>
                            Je helpt af en toe eens mee op een kindervakantieweek met grime of tijdens de voorstelling van de lokale toneelvereniging,
                            maar je wilt je toch zekerder voelen. Of  ben je schooljuf, kinderanimator? Steek je graag jouw dochters haar op.
                            Wij helpen je onderweg. De opdrachten zijn geen verplichting,
                            dus gewoon voor de lol meedoen kan zeker ook, je krijgt alleen geen certificaat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
